/* theme dark */
.bg-black{
  background-color: black;
}
.bg-light-black{
  background-color: #262626 !important;
}
.text-black{
  color: black;
}
.text-light-black{
  color: #262626;
}
.bg-dark-primary{
  background-color: #0ad5bb !important;
}
.text-dark-primary{
  color: #4dfff9 !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: #dadcde;
}
.bg-light-primary{
  background-color: rgba(0, 116, 232, 0.68) !important;
}
.text-light-primary{
  color: #191659 !important;
}

.StripeElement {
  /*margin: 15px auto;*/
  padding: 10px 12px;
  color: #32325d;
  background-color: #040a2d;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;


}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.item {

  min-height: 10rem;
  min-width: 20rem;
  padding: 40px;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
  /*background-color: #0ad5bb;*/
}

.carousel {
  cursor: grab;
  overflow: hidden;
  /*background-color: #4d1091;*/

}