body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 46, 46);
    background-color: rgba(224, 217, 217, 0.863);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
hr{
    width: 80%;
}
h2{
    font-size: 20px;
}
.contact-items{
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;

}
.customer-care,.write-us,.sales-market{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 30px auto;
    padding: 35px 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;

}
.customer-care{
    height: 250px;
    box-shadow: 0 15px 15px #49ecd8;
    border: 1px solid #33a9b4;
}
.write-us{
    height: 250px;
    box-shadow: 0 15px 15px #5405dc;
    border: 1px solid #480386;
}
.sales-market{
    height: 250px;
    box-shadow: 0 15px 15px #e1a70a;
    border: 1px solid #dc6505;
}
p{
    font-size: 15px;
}

#cust-care{
    background: #038a70;

    box-shadow: 0 0 5px black;
}
#write{
    background: rgb(187, 15, 15);

    box-shadow: 0 0 5px black;
}
#sales{
    background: #967607;
    box-shadow: 0 0 5px black;
}
a{
    font-size: 16px;
}
.sales-market a{
    color: #1280ec;
    text-shadow: 0 0 2px rgba(2, 59, 136, 0.64);
}
